<% if @user && @user.student? %>

  <h1> <%= @homework.title %> </h1>

  Question : <%= @homework.question %>


  <%= form_tag homeworks_url do %>
  <div class="form-group">
      <label for="exampleTextarea">My Answer: </label>
      <%= text_area_tag 'answer', nil, rows: 10, cols: 100, class: 'form-control' %> 
    </div>
    
    <%= hidden_field_tag 'id', @homework.id %>
    <%= submit_tag 'Submit', class: 'btn btn-primary' %>
  <% end %>

<% else %>
 
 <h1> <%= @homework.title %> </h1>

 <p> <%= @homework.question %> </p>

  <table class="table table-striped">
    <thead>
     <th>Username</th>
     <th>Latest Answer</th>
    </thead>
    
   <% @users.each do |user| %>
     <tr>
       <td> <%= link_to user.name, submission_url(@homework.id, user.id) %> </td>
       <td> <%= recent_answer(@homework.id, user.id) %> </td>
     </tr>
   <% end %>

 </table>

<% end %>
