<!DOCTYPE html>
<html>
  <head>
    <title>Hws</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

    <div id="container">
      <%= link_to 'Home', root_url %> | <%= link_to 'HomeWork', root_url %> |

      <% if session[:user_id].nil? %>
       <%= link_to 'Login', new_session_url %> 
      <% else %>
        <%= link_to 'Logout', logout_path %>
      <% end %> 

      | <%= logged_in_user %>

      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= yield %>
    </div>

</html>